@import url('vars.css');

/* Elementos do cabeçalho */

body {
    margin: 0;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    padding: 1em;

    border-radius: 0 0 1em 1em;
}

header .button-set {
    display: flex;
    gap: 1em;
}

header button {
    height: 4em;
    padding: 1em;
    
    border-style: none;
    border-radius: .5em;
}

header .button-set-toggle {
    display: none;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
    }
}