@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Red+Hat+Display:wght@400;800&display=swap');

:root {
    --seasalt: #F7F7F7;
    --raisin-black: #28262C;
    --glassy-raisin-black: #28262cdc;
    --night: #141414;
    --glassy-night: #141414dc;
    --periwinkle: #CCCCFF;
    --tropical-indigo: #8B80F9;
    --majorelle-blue: #6050DC;
    --lemon-chiffon: #FFFACD;
    --flax: #EEDC82;
    --unsat-tropical-indigo: #7b74ca;
    --lime-green: #32cd32;
    --aureolin: #fdec00;
    --rojo: #e60026;
    --glaucous: #6b7fd7;
}

body {
    background-image: url('../imgs/background.jpg');
    background-color: var(--glassy-raisin-black);
    color: var(--seasalt);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--seasalt);
}

#header {
    position: sticky;

    background: var(--night);
    background: linear-gradient(165deg, var(--night) 60%, var(--unsat-tropical-indigo) 100%);

    font-family: 'Red Hat Display', sans-serif;
    
    top: 0;

    padding: 2em;
    border-radius: 0 0 1em 1em;

    z-index: 10;
}

#header .toolbar {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items: center;
}

#header .title-toolbar {
    font-weight: 800;
    font-size: 4em;

    margin-top: 0;
    margin-bottom: 0;
}

#header .button-toolbar {
    background-color: transparent;
    
    font-weight: 400;
    font-size: 1em;

    padding: 0.5em 2em;
    margin-left: 1em;

    max-width: fit-content;

    border-radius: .5em;
}

#header .button-toolbar:hover {
    background-color: var(--raisin-black);
}

#header .button-toolbar:active {
    background-color: var(--tropical-indigo);
    background: linear-gradient(135deg, var(--lemon-chiffon) 50%, var(--tropical-indigo) 100%);
    color: var(--night);
}

#main {
    padding: 2em;
}

#main h1 {
    background-color: var(--glassy-night);
    background: linear-gradient(135deg, var(--lemon-chiffon) 50%, var(--tropical-indigo) 100%);
    color: var(--night);

    font-family: 'Red hat Display', sans-serif;
    font-size: 4em;
    font-weight: 800;

    text-align: center;

    margin: 3em auto 0 auto;

    padding: .25em;

    max-width: fit-content;

    border-bottom: 0.125em solid var(--majorelle-blue);
    border-radius: .25em .25em 0 0;
}

#main h1:hover {
    border-bottom: 0.125em solid var(--flax);

}

#main .section-home {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    background-color: var(--glassy-night);

    margin: 0;
    padding: 2em;

    border-radius: 2em;
}

#main .section-home .title-home {
    background: linear-gradient(135deg, var(--lemon-chiffon) 50%, var(--tropical-indigo) 100%);
    color: var(--night);

    font-family: 'Red Hat Display', sans-serif;
    font-size: 6em;
    font-weight: 800;
    text-align: center;

    margin: 0 0 0 0;
    padding: 2em 2em 2em 2em;

    max-width: fit-content;

    border-radius: .33em;
}

#main .section-home .text-home {
    font-size: 1.5em;
    font-family: 'Inter', sans-serif;

    text-align: right;
    max-width: 20%;
    right: 0;
}

#main .section-about {
    background-color: var(--glassy-night);

    margin: 0;
    padding: 2em;

    border-radius: 1em;
}


#main .section-about .title-about {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 3em;
    font-weight: 800;
    
    margin: 0 0 0 0;
    padding: 1em 1em 1em .5em;
}

#main .section-about .text-about {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;

    padding: 1em;
}

#main .section-projects, #main .section-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: var(--glassy-night);

    padding: 3em;

    border-radius: 1em;
}

#main .section-projects .card-project {
    background-color: var(--night);
    color: var(--seasalt);

    text-decoration: none;
    
    padding: 1em;

    max-width: 25em;
    min-height: 30em;

    border-radius: 1em;
    scale: 1;
}

#main .section-projects .card-project:hover {
    background: linear-gradient(135deg, var(--lemon-chiffon) 50%, var(--tropical-indigo) 100%);
    color: var(--night);
    scale: 1.025;
    cursor: pointer;
}

#main .section-projects .card-project img {
    max-width: 25em;
    max-height: 25em;
    border-radius: 1em;
}
#main .section-projects .card-project h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    
    margin-bottom: 1em;
}

#main .section-projects .card-project .status-project, #main .section-projects .card-project .type-project {
    font-size: .75em;
    
    max-width: fit-content;

    padding: .5em;
    border-radius: .5em;
}

#main .section-contact .card-contact {
    background-color: var(--night);

    display: flex;
    flex-direction: row;
    gap: 1em;

    padding: 1em;

    border-radius: 1em;
}

#main .section-contact .card-contact:hover {
    background: linear-gradient(135deg, var(--lemon-chiffon) 50%, var(--tropical-indigo) 100%);
    color: var(--night);
    scale: 1.025;
    cursor: pointer;
}

#main .section-contact .card-contact img {
    background-color: transparent;

    max-width: 3em;
    max-height: 3em;
}

#main .section-contact .card-contact p {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
}